body {
    margin: 0;
    background-color: #333;
    color:#BBB;
}

/*Das ist der Header*/
header {
    display: flex;
    position: sticky; 
    
    top: 0; 
    height: 5vh; 
    z-index: 100;

    background-color: #111;
    color: hsl(0, 0%, 100%);

    .navbar {
        flex: 9;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-right: 2vh;
        margin-left: 2vh;

        a {
            font-size: 3vw;
            color: #fff;
            text-decoration: none;

            &:hover{
                opacity: 0.5;
            }
        }
    }

    .logo {

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-left: 1vh;
        
        img{
            filter: invert(100);
            position: relative;
            object-fit: cover;
            height: 80%;
            width: auto;
        }
    }
}

@media screen and (min-width: 900px) {
    header .navbar a{
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    header .navbar{
        margin: 5px;
        margin-left: 10px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        
        a{
            font-size: 100%;
        }
    }
}

/*Das ist die Hero Section*/

.hero-section {
    margin: 15px;
    display: flex; 
    align-items: center; 

    img{
        width: 60%;
        height: auto; 
        margin-right: 20px;
        border-radius: 40px; 
        overflow: hidden; 
    }

    p {
        width: 40%;

        span .special{
            font-size: 1.5em;
        }
    }
}

@media screen and (max-width: 600px) {
    .hero-section{
        display: block; 
        margin: 0 auto; 
        
        img{
            width: 100%;
            margin-right: 0px;
            border-radius: 0;
        }

        p{
            width:auto;
            margin-left: 15px;
            margin-top: 0;
        }
    }
}

@media screen and (min-width:900px) {
    .hero-section{
        display: block;
        text-align: center;
        margin-top: 0.6%;
        
        img{
            margin:0 auto;
            width: 95vw;
            height:40vw;
            object-fit: cover;
            border-radius: 20px;
            object-position: 50% 15%;
        }

        p{
            width: 100%;
        }
    }
}


/*Hier beginnt die Products section*/

.products{
    margin-left: 15px;

    .special-list {
        list-style-type: none; 
    
        
        .list-item-1::before{
            content: "\1F40D"; 
        }
        .list-item-2::before{
            content: "\1F525"; 
        }
        .list-item-3::before{
            content: "\1F329"; 
        }
        .list-item-4::before{
            content: "\1F409"; 
        }
        
        li::before {
            display: inline-block;
            margin-right: 0.5em; 
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 900px) {
    .special-list{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px; 
    }
}

@media  screen and (min-width: 600px) {
    .special-list{
        font-size: 1.25em;
    
        li::before{
            font-size: 25px;
        }
    }
}

/*Hier beginnt die Reference Section*/

.references{
    margin-left: 15px;
    margin-right: 15px;
    .reviews{
        .pesant{
            background-image: linear-gradient(to bottom right, #4a9af5, #128103ef);
            color:#27006e;
        }
        
        .king{
            background-image: linear-gradient(to bottom right, #b31375, #bfcc09ce);
            color:#27006e;
        }
        
        .witch{
            background-image: linear-gradient(to bottom right, #5d0299, #770202);
        }
        
        .person-profile{
            display: grid;
            padding: 15px;
            border-radius: 15px;
            margin-bottom: 15px;
            grid-template-areas: 
            'img title'
            'img info';
        
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 20px;
                grid-area: img;
                align-self: center;
            }
        
            h2 {
                grid-area: title;
                margin-bottom: 0;
            }
            
            p{
                margin-top: 5px;
                grid-area: info;
            }
        }
    }
}

@media screen and (min-width:900px){
    .reviews {
        display: flex;
        gap: 1.5%;
    }

    .person-profile{
        flex: 1;
        gap: 5%;
        grid-template-areas: 
        'img title'
        'info info';
    }
}

/*Hier beginnt die portfolio section*/

.portfolio {
    margin: 15px;
    
    p span.special {
        font-size: 1.25em;
    } 
}

.story {
    position: relative; 
    display: inline-block; 
    
    img {
        display: block; 
        width: 90vw; 
        height: 67.5vw; 
        object-fit: cover; 
        object-position: 50% 20%; 
    }

    .story-info {
        position: absolute; 
        bottom: 0; 
        left: 0; 
        background-color: rgba(0, 0, 0, 0.5); 
        color: white; 
        padding: 10px; 
        width: 100%; 
        box-sizing: border-box; 
        font-size: 1.25em;
        
        h2{
            margin: 0;
        }
        
        p{
            margin: 0;
            margin-top: 2%;
        }
    }
}


@media screen and (min-width: 900px) {
    .story-section {
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 0 2.5vmin;
        transform: skew(5deg);
        gap: 1.5%;
    }

    .story{
        flex: 1;
        transition: all 1s ease-in-out;
        height: 50vmin;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            object-position: 50% 50%;
            object-fit: cover;
            transition: all 1s ease-in-out;
            filter: grayscale(100);
        }

        .story-info{
            opacity: 0;
            font-size: 0.9em;
            width: 30vw;
            transition: opacity 0s ease-out;

            h2{
                transform: skew(-5deg);
            }
        }

        &:hover{
            flex-grow: 10;
            
            img{
                filter: grayscale(0);
            }
            
            .story-info{
                opacity: 1;
                width: 100%;
                transition: opacity 1s ease-in;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .story .story-info{
        font-size: 1em;
    }
}

/*Hier beginnt die Kontakt Section*/

.contact{
    margin-left: 15px;
    margin-right: 15px;
    .time{
        color: #838383;
    }
    
}

/*Hier beginnt der Footer*/

footer{
    width: 100%; 
    background-color: #222; 
    padding: 20px; 
    box-sizing: border-box; 

    .other-links{
        display: flex; 
        justify-content:space-around; 
    
        a{
            text-decoration: none; 
            color: inherit; 
            transition: text-shadow 0s ease-in-out;
            
            &:hover{
                text-shadow: 0 0 10px #2e8fff, 
                            0 0 20px #2e8fff, 
                            0 0 30px #2e8fff, 
                            0 0 40px #2e8fff, 
                            0 0 50px #2e8fff; 
                transition: text-shadow 1s ease-in-out;
            }
        }
    }
    
    .social-media{
        img {
            width: 50px;

            &:hover{
                animation: jiggle 1s linear infinite;
            }
        }

        table {
            width: 100%;
            text-align: center center;
        }
    }
}

@keyframes jiggle {
    0%, 100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2);
    }
}
